<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.Reporting"></listener>
    </listeners>
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="C:/Users/hal19/IdeaProjects/TestPhpTravels">
        <classes>
            <class name="testCases.Integration">
                <methods>
                    <include name="checkTheTabForCRMHubSpot"/>
                    <include name="checkTheLinkForCRMHubSpot"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>